.vscode/**
.vscode-test/**
.vscode-test.mjs
.github/**
out/**
bin/**
dist/**
node_modules/**
scripts/**
src/**
**/tsconfig*.json
**/eslint*.config.*
**/.eslintrc.json
**/*.map
**/*.ts
esbuild.js
.gitignore
.editorconfig
.prettierrc*
.eslintignore
.npmrc
vsc-extension-quickstart.md
